# Ignore Jetbrains IDE meta-files.
.idea

# Ignore Git/GitHub files.
.github
.gitattributes
.gitignore

# Ignore misc. files.
.npmignore

# Ignore ESLint configuration file.
.eslintrc.js

# Ignore the code style example files.
code-style-examples/**
